/*-- components/alert --*/
.alert {
  position:       relative;
  margin:         $alert-margin;
  padding:        $alert-padding;
  color:          $alert-text !important;
  background:     $alert-back;
  border:         $alert-border solid $alert-edge;
  border-radius:  $alert-radius;
  .headline {
    font-size:    $button-size;
    line-height:  $button-line;
    padding:      $button-padding;
    user-select:  none;
    margin:       0 -1.5em 1em -1.5em;
    font-weight:  700;
    color:        $alert-head-text;
    display:      flex;
    flex-wrap:    nowrap;
    align-items:  center;
    background-color: $alert-edge;
    border-radius: $alert-head-radius $alert-head-radius 0 0;
    .text {
      flex: 2 0;
    }
    .message-control {
      font-size: 1.2em;
      color: rgba($white, 0.8);
      &:hover {
        color: $white;
      }
    }
  }
  .body {
    display: flex;
    .content {
      flex-basis: 100%;
    }
  }
  .body-icon {
    color: $alert-edge;
    margin-right: 0.5em;
    background: rgba($alert-color, $alert-icon-back-opacity);
    border: $alert-icon-border-width solid rgba($alert-color, $alert-icon-border-opacity);
    font-size: $alert-icon-size;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    text-align: center;
    line-height: 2em;
    padding: $alert-icon-padding;
    vertical-align: middle;
  }
  .title {
    color: $alert-head !important;
    font-size: $size-largish;
    font-weight: 400;
    margin-bottom: 0.5em;
  }
  &.headline {
    padding-top: 0;
  }
  &.headline:not(.revealed) .headline {
    margin-bottom: 0;
  }
  &.headline.revealable:not(.dismissable) .headline:hover {
    color: $white;
    background-color: $alert-hover;
    cursor: pointer;
  }
  // Info
  &.info {
    color:              $info-text !important;
    background-color:   $info-back;
    border-color:       $info-edge;
    .title {
      color:            $info-head !important;
    }
    .body-icon {
      color: $info-edge;
      background: rgba($info-color, $alert-icon-back-opacity);
      border-color: rgba($info-color, $alert-icon-border-opacity);
    }
    .headline {
      background-color: $info-edge;
    }
    &.headline.revealable:not(.dismissable) .headline:hover {
      background-color: $info-hover;
    }
  }
  // Success
  &.success {
    color:              $success-text !important;
    background-color:   $success-back;
    border-color:       $success-edge;
    .body-icon {
      color:            $success-edge;
      background:       rgba($success-color, $alert-icon-back-opacity);
      border-color:     rgba($success-color, $alert-icon-border-opacity);
    }
    .title {
      color:            $success-head !important;
    }
    .headline {
      background-color: $success-edge;
    }
    &.headline.revealable:not(.dismissable) .headline:hover {
      background-color: $success-hover;
    }
  }
  // Warning
  &.warning {
    color:              $warning-text !important;
    background-color:   $warning-back;
    border-color:       $warning-edge;
    .body-icon {
      color:            $warning-edge;
      background:       rgba($warning-color, $alert-icon-back-opacity);
      border-color:     rgba($warning-color, $alert-icon-border-opacity);
    }
    .title {
      color:            $warning-head !important;
    }
    .headline {
      background-color: $warning-edge;
    }
    &.headline.revealable:not(.dismissable) .headline:hover {
      background-color: $warning-hover;
    }
  }
  // Error
  &.error {
    color:              $error-text !important;
    background-color:   $error-back;
    border-color:       $error-edge;
    .body-icon {
      color:            $error-edge;
      background:       rgba($error-color, $alert-icon-back-opacity);
      border-color:     rgba($error-color, $alert-icon-border-opacity);
    }
    .title {
      color:            $error-head !important;
    }
    .headline {
      background-color: $error-edge;
    }
    &.headline.revealable:not(.dismissable) .headline:hover {
      background-color: $error-hover
    }
  }
  &.revealable:not(.revealed) {
    padding-bottom: 0;
  }
  &.stripe {
    border-right: 0;
    border-bottom: 0;
    border-top: 0;
    border-left-width: 5px;
    background-color: $alert-stripe-back;
  }
  &.shadow {
    box-shadow:
      2px 2px 2px rgba($black, 0.05),
      0px 0px 4px 2px rgba($black, 0.05),
  }
}
.alert:first-child {
  margin-top: 0em;
}
.alert:last-child {
  margin-bottom: 0em;
}
.alert > .close.icon {
  cursor: pointer;
  position: absolute;
  margin: 0em;
  top: 0.78575em;
  right: 0.5em;
  opacity: 0.7;
  -webkit-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
  &:hover {
    opacity: 1;
  }
}
