/*-- components/icons --*/
.icon.push-left {
  width: 2em;
  margin-left: -2em;
  margin-right: 0;
}
.icon.on-left {
  margin-right: 0.5em;
  margin-left: 0;
}
.icon.on-right {
  margin-left: 0.5em;
  margin-right: 0;
}
