.sortable.list {
  background-color: $sortable-list-bg-color;
  border: 1px solid $sortable-list-border-color;
  border-radius: $sortable-radius;
}
.sortable.item {
  display: inline-block;
  background-color: #fff;
  padding: 0.25em 0.5em 0.25em 0;
  font-size: 1em;
  cursor: pointer;
  user-select: none;
  &.inactive {
    opacity: 0.4;
  }
  &.sortable-sorting {
    background-color: rgba($blue, 0.7);
    border-radius: 0;
  }
}
.sortable.list.vertical {
  .sortable.item {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid $sortable-list-border-color;
    &:first-child {
      border-radius: $sortable-radius $sortable-radius 0 0;
    }
    &:nth-last-child(3) {
      // dnd adds 2 hidden elements to the end
      border-radius: 0 0 $sortable-radius $sortable-radius;
      border-bottom: none;
    }
  }
}
.sortable.list.horizontal {
  .sortable.item {
    display: flex;
    border-right: 1px solid $sortable-list-border-color;
    &:first-child {
      border-radius: $sortable-radius 0 0 $sortable-radius;
    }
    &:nth-last-child(3) {
      // dnd adds 2 hidden elements to the end
      border-radius: 0 $sortable-radius $sortable-radius 0;
      border-right: none;
    }
  }
}
tr.sortable.item {
  display: table-row !important;
}

.sortable.list.changed .sortable.item.moved {
  color: $sortable-moved-fg-color;
  background-color: $sortable-moved-bg-color;
}
.sortable.list .sortable.item[aria-pressed='true'] {
  color: $sortable-moving-fg-color;
  background-color: $sortable-moving-bg-color;
  z-index: 9999;
}
