//----------------------------------------------------------------------------
// Fonts
//----------------------------------------------------------------------------
$font-text: ('Open Sans', Helvetica, sans-serif) !default;
$font-head: ('Open Sans', Helvetica, sans-serif) !default;
$font-mono: (Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace) !default;

$weight-light:  300 !default;
$weight-normal: 400 !default;
$weight-bold:   700 !default;
