//----------------------------------------------------------------------------
// Responsive breakpoints
//----------------------------------------------------------------------------
$mobile:      640px  !default;
$tablet:      800px  !default;
$laptop:      1024px !default;
$desktop:     1200px !default;
$widescreen:  1500px !default;
$breakpoints: (
    'mobile':     $mobile,
    'tablet':     $tablet,
    'laptop':     $laptop,
    'desktop':    $desktop,
    'widescreen': $widescreen
);
