//----------------------------------------------------------------------------
// Colors
//----------------------------------------------------------------------------
// The primary hue is used to set text and headline colors and other general
// styling.  The secondary hue is used for elements with a contrasting colour.
$primary-hue:   210 !default;
$secondary-hue: 180 !default;

// shades of black/grey
$zero:       #000;
$black:      hsl($primary-hue, 20%, 10%) !default;
$dark-grey:  hsl($primary-hue, 10%, 30%) !default;
$grey:       hsl($primary-hue,  5%, 50%) !default;
$light-grey: hsl($primary-hue,  5%, 80%) !default;
$slate:      $dark-grey;
$smoke:      $light-grey;

// color palette
$white:   #fff !default;
$red:     hsl(0, 100%, 40%) !default;
$brown:   hsl(20, 50%, 40%) !default;
$orange:  hsl(30, 100%, 45%) !default;
$yellow:  hsl(50, 100%, 42%) !default;
$olive:   hsl(68, 75%, 42%) !default;
$green:   hsl(100, 70%, 40%) !default;
$teal:    hsl(160, 60%, 45%) !default;
$blue:    hsl(200, 80%, 45%) !default;
$navy:    hsl(220, 70%, 40%) !default;
$indigo:  hsl(240, 50%, 50%) !default;
$violet:  hsl(275, 50%, 50%) !default;
$magenta: hsl(315, 50%, 45%) !default;
$pink:    hsl(330, 60%, 50%) !default;

$colors: (
  'black':   $black,
  'blue':    $blue,
  'brown':   $brown,
  'green':   $green,
  'grey':    $grey,
  'indigo':  $indigo,
  'magenta': $magenta,
  'navy':    $navy,
  'olive':   $olive ,
  'orange':  $orange,
  'pink':    $pink,
  'red':     $red,
  'teal':    $teal,
  'violet':  $violet,
  'yellow':  $yellow,
);
$greys: (
  'black':   $black,
  'slate':   $slate,
  'smoke':   $smoke,
  'white':   $white,
);
