$button-color:                  $grey !default;
$button-back:                   lightish-color($button-color) !default;
$button-fore:                   rgba($black, 0.7) !default;
$button-size:                   $unit-size !default;
$button-line:                   $unit-line !default;
$button-pad-v:                  $unit-pad-v !default;
$button-pad-h:                  $unit-pad-h * 2 !default;
$button-padding:                $button-pad-v $button-pad-h !default;
$button-margin:                 0 $unit-margin $unit-margin 0 !default;
$button-radius:                 $unit-radius !default;
$button-text-shadow:            0.05 !default;
$button-back-color:             $white !default;
$button-back-opacity:           0.95 !default;
$button-border-width:           1px !default;
$button-border-color:           $button-color;
$button-hover-back-mix:         6% !default;
$button-hover-back-mixer:       $white !default;
$button-hover-text-mix:         90% !default;
$button-hover-text-mixer:       $zero !default;
$button-focus-back-mix:         12% !default;
$button-focus-back-mixer:       $white !default;
$button-focus-text-mix:         70% !default;
$button-focus-text-mixer:       $zero !default;
$button-focus-border-color:     $white !default;
$button-focus-outline-opacity:  0.6 !default;
$button-focus-outline-width:    3px !default;
//$button-focus-opacity:  0.10;
//$button-focus-text-darken: 5%;
// $button-focus:          0 0 0 2px rgba($white, 0.9), 0 0 0 4px rgba($black, 0.25) !default;
// $button-border-color:   darken($button-color, 5%) !default;
$button-solid-border-darken:    6% !default;
$button-solid-hover-darken:     12% !default;
$button-solid-focus-darken:     18% !default;
$button-invalid-back:           $invalid-back !default;
$button-invalid-edge:           $invalid-edge !default;
$button-invalid-fore:           $invalid-fore !default;
$button-shade-angle:            175deg !default;
$button-shade-amount:           5% !default;
$button-shade-hover:            3% !default;
$button-shade-lighten:          $button-shade-amount !default;
$button-shade-darken:           $button-shade-amount !default;
$button-gradient-angle:         145deg !default;
$button-gradient-hue-shift:     15deg !default;

$buttons-gap:                   0px !default;
$buttons-joint:                 rgba($white, 0.5);
