$tab-font-size:             0.9em !default;
$tab-inset:                 0.5rem;
$tab-margin:                0 0.5em 0 0 !default;
$tab-padding:               0.25em 0.75em !default;
$tab-radius:                0.25em !default;
$tab-body-radius:           $tab-radius !default;
$tab-back:                #eee !default;
$tab-fore:                  rgba($black, 0.8) !default;
$tab-edge:                #ddd !default;
$tab-hover-back:          #f8f8f8 !default;
$tab-hover-fore:            rgba($black, 0.9) !default;
$tab-active-back:         #fff !default;
$tab-active-fore:           $black !default;
$tab-active-edge:         #ccc !default;

